* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #212529;
  color: #dee2e6;
  font-family: 'Roboto Mono', monospace;
  display: grid;
  grid-template-rows: 56px 1fr;
  grid-template-columns: 400px 1fr;
  height: 100vh;
  font-size: 14px;
  line-height: 1.5;
}

*::selection {
  background: rgba(206, 212, 218, 0.5);
}

nav {
  border-bottom: 1px solid #495057;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 24px;
  justify-content: space-between;
}

nav h1 {
  margin: 0;
  font-weight: bold;
}

nav h1 span {
  font-size: 12px;
  color: #495057;
  vertical-align: bottom;
  margin-left: 4px;
  font-weight: 400;
}

nav a {
  font-size: 0;
}

nav img {
  height: 20px;
}

aside {
  height: 100%;
  border-right: 1px solid #495057;
  grid-column-start: 1;
}

aside section {
  padding: 24px;
  border-bottom: 1px solid #495057;
  transition: background 0.1s;
  cursor: pointer;
  border-left: 4px solid #495057;
  padding-left: 20px;
}

aside section.selected {
  border-left-color: #66d9e8;
}

aside section:hover {
  background: #343a40;
}

aside section header {
  color: #f8f9fa;
  font-weight: bold;
}

aside section div {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 12px;
  overflow: hidden;
}

aside section footer {
  margin-top: 12px;
  font-size: 0;
}

aside section footer {
  width: 100%;
}

aside section footer ul {
  white-space: nowrap;
  overflow-x: scroll;
}

aside section footer ul::-webkit-scrollbar {
  width: 0 !important;
}

aside section footer ul li {
  font-size: 12px;
  background: #495057;
  color: #dee2e6;
  display: inline-block;
  padding: 4px 8px;
  transition: background 0.1s;
  font-weight: bold;
  border-radius: 2px;
}

aside section footer ul li::before {
  content: '#';
}

aside section footer ul li + li {
  margin-left: 8px;
}

main {
  overflow-y: scroll;
  padding: 40px 24px;
}

main .inputs-container,
main .content {
  margin: 0 auto;
  max-width: 640px;
}

main .inputs-container {
  margin-bottom: 40px;
}

main .shortcode {
  color: #66d9e8;
}

main .input-group {
  margin-top: 16px;
}

main .input-group:first-of-type {
  margin-top: 0;
}

main .inputs-container label {
  display: block;
  color: #f8f9fa;
}

main .inputs-container input {
  border: none;
  background: #212529;
  color: #f8f9fa;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.5;
  padding: 8px;
  margin-top: 8px;
  border-radius: 2px;
  min-width: 200px;
  outline: none;
  border: 1px solid #495057;
}

main .inputs-container input::placeholder {
  color: #495057;
}

main .inputs-container input:focus {
  border: 1px solid #66d9e8;
}

.content {
  box-sizing: border-box;
  border-radius: 2px;
  padding: 40px;
  border: 1px solid #495057;
  outline: none;
}

.content.active {
  border-color: #66d9e8;
}
